<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.kkeudeok.mapper.IOnboardingMapper">

<insert id="insertChild" parameterType="kopo.kkeudeok.dto.ChildDTO"
            useGeneratedKeys="true" keyProperty="childId">
        INSERT INTO child (member_id, name, birth_date, gender, disorder_type,
                           severity, character_type, character_nickname, created_at)
        VALUES (#{memberId}, #{name}, #{birthDate}, #{gender}, #{disorderType},
                #{severity}, #{characterType}, #{characterNickname}, NOW())
    </insert>


    <update id="updateChild" parameterType="kopo.kkeudeok.dto.ChildDTO">
        UPDATE child
           SET name               = #{name}
             , birth_date         = #{birthDate}
             , gender             = #{gender}
             , disorder_type      = #{disorderType}
             , severity           = #{severity}
             , character_type     = #{characterType}
             , character_nickname = #{characterNickname}
         WHERE child_id = #{childId}
    </update>

    <delete id="deleteChecklist">
        DELETE FROM checklist
         WHERE child_id = #{childId}
    </delete>

    <insert id="insertChecklist">
        INSERT INTO checklist (child_id, domain, question_no, score, created_at)
        VALUES
        <foreach collection="answers" item="a" separator=",">
            (#{a.childId}, #{a.domain}, #{a.questionNo}, #{a.score}, NOW())
        </foreach>
    </insert>

    <select id="selectChecklist" resultType="kopo.kkeudeok.dto.ChecklistAnswerDTO">
        SELECT checklist_id
             , child_id
             , domain
             , question_no
             , score
          FROM checklist
         WHERE child_id = #{childId}
         ORDER BY checklist_id
    </select>

</mapper>
